Repository gravitational/teleport, changes with the owners that .github/CODEOWNERS names for each.
All owners: @klizhentas, @russjones, @r0mant, @zmb3, @fheinecke, @camscale, @tcsc, @rosstimothy, @avatus, @gzdunek, @ravicious

.github/CODEOWNERS:

# Merge rules are governed by logic in the Workflow Bot. Protect the
# .github/workflows directory (and the merge logic) using CODEOWNERS.
/.github/workflows/ @klizhentas @russjones @r0mant @zmb3 @fheinecke @camscale @tcsc @rosstimothy
/build.assets/tooling/cmd/difftest/ @klizhentas @russjones @r0mant @zmb3

# Owners for dependency updates in JS packages.
/pnpm-lock.yaml @avatus @gzdunek @ravicious
web/packages/teleterm/package.json @gzdunek @ravicious

Cache for Relay service
  lib/authz/permissions.go
  lib/cache/cache.go
  lib/cache/node.go
  lib/cache/store.go
  lib/defaults/defaults.go
  lib/service/relay.go
  lib/utils/sortcache/sortcache.go
Owners: none

Proto definitions for yamux Relay tunnels
  proto/teleport/relaytunnel/v1alpha/control.proto
Owners: none

Grace time for Relay shutdown and termination state in heartbeat
  lib/service/relay.go
Owners: none

make grpc
  gen/proto/go/teleport/relaytunnel/v1alpha/control.pb.go
Owners: none

Relay tunnels with yamux
  go.mod
  go.sum
  lib/relaytunnel/server.go
Owners: none

Fix "wishlist features" link
  rfd/0217-bot-details-web.md
Owners: none

Move Kubernetes specific http helpers to lib/kube (#55891)
  lib/auth/middleware.go
  lib/kube/grpc/utils.go
  lib/kube/internal/http.go
  lib/kube/proxy/forwarder.go
  lib/kube/proxy/roundtrip.go
  lib/kube/proxy/roundtrip_websocket.go
  lib/kube/proxy/transport.go
Owners: none

fix: Text alignment in bot instances alert (#55908)
  web/packages/teleport/src/BotInstances/List/BotInstancesList.tsx
Owners: none

explicitly assign DNS addrs without promiscous mode
  lib/vnet/admin_process_darwin.go
  lib/vnet/admin_process_windows.go
  lib/vnet/network_stack.go
  lib/vnet/osconfig_provider.go
  lib/vnet/osconfig_provider_test.go
Owners: none

minor edit
  lib/vnet/ssh_agent.go
Owners: none

[vnet] feat: show SSH status in VNet slider (#55755)
  gen/proto/go/teleport/lib/teleterm/vnet/v1/vnet_service.pb.go
  gen/proto/go/teleport/lib/teleterm/vnet/v1/vnet_service_grpc.pb.go
  gen/proto/ts/teleport/lib/teleterm/vnet/v1/vnet_service_pb.client.ts
  gen/proto/ts/teleport/lib/teleterm/vnet/v1/vnet_service_pb.grpc-server.ts
  gen/proto/ts/teleport/lib/teleterm/vnet/v1/vnet_service_pb.ts
  lib/teleterm/vnet/service.go
  proto/teleport/lib/teleterm/vnet/v1/vnet_service.proto
  web/packages/teleterm/src/services/tshd/fixtures/mocks.ts
  web/packages/teleterm/src/ui/TopBar/Connections/ConnectionsFilterableList/ConnectionItem.tsx
  web/packages/teleterm/src/ui/TopBar/Connections/ConnectionsFilterableList/ConnectionStatusIndicator.tsx
  web/packages/teleterm/src/ui/Vnet/VnetSliderStep.story.tsx
  web/packages/teleterm/src/ui/Vnet/VnetSliderStep.tsx
  web/packages/teleterm/src/ui/Vnet/integration.test.tsx
  web/packages/teleterm/src/ui/Vnet/vnetContext.tsx
Owners: none

[vnet] feat: support diag checks on windows
  lib/teleterm/vnet/service.go
  lib/teleterm/vnet/service_windows.go
  lib/vnet/diag/routeconflict_other.go
  lib/vnet/diag/routeconflict_windows.go
  web/packages/teleterm/src/ui/Vnet/vnetContext.tsx
Owners: none

remove isDiagSupported
  web/packages/teleterm/src/ui/Vnet/VnetConnectionItem.tsx
  web/packages/teleterm/src/ui/Vnet/VnetSliderStep.story.tsx
  web/packages/teleterm/src/ui/Vnet/vnetContext.tsx
Owners: none

fix linux build
  lib/teleterm/vnet/service_other.go
Owners: none

add .exe suffix to windows commands
  lib/vnet/diag/routeconflict_windows.go
Owners: none

Move TELEPORT_ANONYMOUS_TELEMETRY into env block
  docs/pages/machine-workload-identity/machine-id/deployment/azure-devops.mdx
Owners: none

[v18][vnet] feat: show SSH status in VNet slider
  gen/proto/go/teleport/lib/teleterm/vnet/v1/vnet_service.pb.go
  gen/proto/go/teleport/lib/teleterm/vnet/v1/vnet_service_grpc.pb.go
  gen/proto/ts/teleport/lib/teleterm/vnet/v1/vnet_service_pb.client.ts
  gen/proto/ts/teleport/lib/teleterm/vnet/v1/vnet_service_pb.grpc-server.ts
  gen/proto/ts/teleport/lib/teleterm/vnet/v1/vnet_service_pb.ts
  lib/teleterm/vnet/service.go
  proto/teleport/lib/teleterm/vnet/v1/vnet_service.proto
  web/packages/teleterm/src/services/tshd/fixtures/mocks.ts
  web/packages/teleterm/src/ui/TopBar/Connections/ConnectionsFilterableList/ConnectionItem.tsx
  web/packages/teleterm/src/ui/TopBar/Connections/ConnectionsFilterableList/ConnectionStatusIndicator.tsx
  web/packages/teleterm/src/ui/Vnet/VnetSliderStep.story.tsx
  web/packages/teleterm/src/ui/Vnet/VnetSliderStep.tsx
  web/packages/teleterm/src/ui/Vnet/integration.test.tsx
  web/packages/teleterm/src/ui/Vnet/vnetContext.tsx
Owners: none

[v17] Web: fix regression when upserting join token with admin actions (#55832)
  web/packages/teleport/src/JoinTokens/UpsertJoinTokenDialog.tsx
  web/packages/teleport/src/services/api/api.ts
  web/packages/teleport/src/services/joinToken/joinToken.ts
Owners: none

Add ACCESSTOKEN to cspell
  docs/cspell.json
Owners: none

[v17][vnet] feat: show SSH status in VNet slider
  gen/proto/go/teleport/lib/teleterm/vnet/v1/vnet_service.pb.go
  gen/proto/go/teleport/lib/teleterm/vnet/v1/vnet_service_grpc.pb.go
  gen/proto/ts/teleport/lib/teleterm/vnet/v1/vnet_service_pb.client.ts
  gen/proto/ts/teleport/lib/teleterm/vnet/v1/vnet_service_pb.grpc-server.ts
  gen/proto/ts/teleport/lib/teleterm/vnet/v1/vnet_service_pb.ts
  lib/teleterm/vnet/service.go
  proto/teleport/lib/teleterm/vnet/v1/vnet_service.proto
  web/packages/teleterm/src/services/tshd/fixtures/mocks.ts
  web/packages/teleterm/src/ui/TopBar/Connections/ConnectionsFilterableList/ConnectionItem.tsx
  web/packages/teleterm/src/ui/TopBar/Connections/ConnectionsFilterableList/ConnectionStatusIndicator.tsx
  web/packages/teleterm/src/ui/Vnet/VnetSliderStep.story.tsx
  web/packages/teleterm/src/ui/Vnet/VnetSliderStep.tsx
  web/packages/teleterm/src/ui/Vnet/integration.test.tsx
  web/packages/teleterm/src/ui/Vnet/vnetContext.tsx
Owners: none

fix linux lint
  lib/vnet/unsupported_os.go
Owners: none

Fix lint
  web/packages/teleport/src/services/joinToken/joinToken.ts
Owners: none

fix: Text alignment in bot instances alert (#55909)
  web/packages/teleport/src/BotInstances/List/BotInstancesList.tsx
Owners: none

MWI: move `runOnInterval` helper into `loop` package
  lib/tbot/loop.go
  lib/tbot/loop/loop.go
  lib/tbot/loop/loop_test.go
  lib/tbot/service_application_output.go
  lib/tbot/service_bot_identity.go
  lib/tbot/service_client_credential.go
  lib/tbot/service_database_output.go
  lib/tbot/service_heartbeat.go
  lib/tbot/service_identity_output.go
  lib/tbot/service_kubernetes_output.go
  lib/tbot/service_kubernetes_v2_output.go
  lib/tbot/service_ssh_host_output.go
  lib/tbot/service_ssh_multiplexer.go
  lib/tbot/service_workload_identity_aws_ra.go
  lib/tbot/tbot.go
Owners: none

[v16] Web: fix regression when upserting join token with admin actions (#55852)
  web/packages/teleport/src/JoinTokens/UpsertJoinTokenDialog.tsx
  web/packages/teleport/src/services/api/api.ts
  web/packages/teleport/src/services/joinToken/joinToken.ts
Owners: none

Allow RoleRelay to not have audit log write permissions for now
  lib/auth/auth_with_roles_test.go
Owners: none

bump cloud docs
  docs/config.json
Owners: none

add rfd (#54886)
  rfd/0214-identifier-first-login.md
  rfd/assets/0214-identifier-first-flow.png
  rfd/cspell.json
Owners: none

Fix spelling for database resource add (#55910)
  lib/client/db/mcp/server.go
Owners: none

feat: Add `RequestKind` field to Access Requests
  api/proto/teleport/legacy/types/types.proto
  api/types/access_request.go
  api/types/types.pb.go
  lib/authz/permissions.go
  lib/modules/modules.go
Owners: none

match identity center account access request resource with subkind
  lib/services/access_checker.go
  lib/services/access_checker_test.go
Owners: none

tsh: Add wrapper for syscall.Dup2 for linux/arm64
  tool/tsh/common/dup2_linux_arm64.go
  tool/tsh/common/dup2_unix.go
  tool/tsh/common/reexec_unix.go
Owners: none

Update brace-expansion (#55802)
  pnpm-lock.yaml
Owners: @avatus, @gzdunek, @ravicious

Update brace-expansion (#55803)
  pnpm-lock.yaml
Owners: @avatus, @gzdunek, @ravicious

Update brace-expansion (#55804)
  yarn.lock
Owners: none

[v17] Bump electron from 35.1.4 to 36.1.0 and node-pty from 1.1.0-beta33 to 1.1.0-beta34 (#55809)
  pnpm-lock.yaml
  web/packages/teleterm/package.json
  web/packages/teleterm/src/main.ts
Owners: @avatus, @gzdunek, @ravicious

[v16] Bump electron from 35.1.4 to 36.1.0 and node-pty from 1.1.0-beta33 to 1.1.0-beta34 (#55810)
  pnpm-lock.yaml
  web/packages/teleterm/package.json
  web/packages/teleterm/src/main.ts
Owners: @avatus, @gzdunek, @ravicious

[v15] Bump electron from 35.1.4 to 36.1.0 and node-pty from 1.1.0-beta33 to 1.1.0-beta34 (#55811)
  web/packages/teleterm/package.json
  web/packages/teleterm/src/main.ts
  yarn.lock
Owners: @gzdunek, @ravicious

Implement data source
  integrations/terraform-mwi/provider/kubernetes_data_source.go
Owners: none

Strip out the panic
  integrations/terraform-mwi/provider/kubernetes_data_source.go
  integrations/terraform-mwi/provider/kubernetes_ephemeral_resource.go
Owners: none
