Repository gravitational/teleport, pull requests merged in 2021-08, with the labels that each got.

#7713 [branch 6.2] Missing teleport repo reference in teleport-kube-agent doc example
  docs/pages/kubernetes-access/guides/multiple-clusters.mdx
Labels: backport-required, documentation

#7774 Fix client.New race condition
  api/client/client.go
  api/client/client_test.go
Labels: backport-required, bug, regression

#7771 Decouple database server from database
  api/types/constants.go
  api/types/database.go
  api/types/database_test.go
  api/types/databaseserver.go
  api/types/databaseserver_test.go
  api/types/types.pb.go
  api/types/types.proto
  integration/db_integration_test.go
  lib/auth/auth.go
  lib/auth/auth_with_roles.go
  lib/auth/auth_with_roles_test.go
  lib/auth/grpcserver_test.go
  lib/cache/cache_test.go
  lib/client/api.go
  lib/service/db.go
  lib/services/local/presence_test.go
  lib/services/role.go
  lib/services/role_test.go
  lib/services/server.go
  lib/srv/db/access_test.go
  lib/srv/db/ca.go
  lib/srv/db/ca_test.go
  lib/srv/db/common/audit.go
  lib/srv/db/common/auth.go
  lib/srv/db/common/session.go
  lib/srv/db/ha_test.go
  lib/srv/db/mongodb/connect.go
  lib/srv/db/mongodb/engine.go
  lib/srv/db/mysql/engine.go
  lib/srv/db/postgres/engine.go
  lib/srv/db/proxyserver.go
  lib/srv/db/server.go
  lib/srv/db/server_test.go
  lib/web/apiserver_test.go
  lib/web/servers.go
  lib/web/ui/server.go
  tool/tctl/common/collection.go
  tool/tctl/common/resource_command_test.go
  tool/tsh/db.go
  tool/tsh/tsh.go
Labels: database-access, refactoring

#7777 Added Admonition for postgres sql and tls in configuration docs
  docs/pages/database-access/reference/configuration.mdx
Labels: backport-required, database-access, documentation

#7805 [branchv7] Added Admonition for postgres sql and tls in configuration docs
  docs/pages/database-access/reference/configuration.mdx
Labels: backport, database-access, documentation

#7806 [branchv6] Added Admonition for postgres sql and tls in configuration docs
  docs/pages/database-access/reference/configuration.mdx
Labels: backport, database-access, documentation

#7807 [backport v6.2] Added Admonition for postgres sql and tls in configuration docs
  docs/pages/database-access/reference/configuration.mdx
Labels: backport, database-access, documentation

#7792 Adding database resource API and commands
  api/client/client.go
  api/client/proto/authservice.pb.go
  api/client/proto/authservice.proto
  api/types/types.pb.go
  api/types/types.proto
  lib/auth/auth.go
  lib/auth/auth_with_roles.go
  lib/auth/auth_with_roles_test.go
  lib/auth/clt.go
  lib/auth/grpcserver.go
  lib/auth/grpcserver_test.go
  lib/auth/init.go
  lib/services/database.go
  lib/services/database_test.go
  lib/services/local/databases.go
  lib/services/local/databases_test.go
  lib/services/resource.go
  lib/services/role.go
  lib/services/services.go
  tool/tctl/common/collection.go
  tool/tctl/common/db_command.go
  tool/tctl/common/resource_command.go
  tool/tctl/common/resource_command_test.go
Labels: database-access

#6767 Various fixes to SAML encryption key handling for SSO
  api/types/saml.go
  api/types/saml_test.go
  lib/services/saml.go
  lib/utils/certs.go
Labels: sso, c-q7j

#7866 (v7) Add AWS console guide
  docs/config.json
  docs/img/application-access/aws-trusted-entities@2x.png
  docs/img/application-access/cloud-trail.png
  docs/img/application-access/federated-login@2x.png
  docs/img/application-access/iam-role-selector.png
  docs/img/database-access/compass-hostname@2x.png
  docs/img/database-access/compass-more-options@2x.png
  docs/img/database-access/compass-new-connection@2x.png
  docs/pages/application-access/guides.mdx
  docs/pages/application-access/guides/aws-console.mdx
  docs/pages/application-access/introduction.mdx
  docs/pages/database-access/guides/gui-clients.mdx
  docs/pages/production.mdx
Labels: documentation, application-access

#7878 Remove initial 'v' from Teleport version tag
  .drone.yml
Labels: release-engineering

#7533 API client tunnel address discovery fix
  api/client/contextdialer.go
  api/client/webclient/webclient.go
  api/client/webclient/webclient_test.go
  api/defaults/defaults.go
  integration/integration_test.go
  lib/config/configuration.go
  lib/defaults/defaults.go
  lib/service/cfg.go
  lib/service/connect.go
  tool/tctl/common/tctl.go
Labels: backport-required

#7892 [auto] Update AMI IDs for 7.0.2
  assets/aws/Makefile
  examples/aws/cloudformation/ent.yaml
  examples/aws/cloudformation/oss.yaml
  examples/aws/terraform/AMIS.md
  examples/aws/terraform/ha-autoscale-cluster/README.md
  examples/aws/terraform/starter-cluster/README.md
Labels: terraform, automated

#7903 [v7] correct tsh proxy alias in docker-compose example
  docker/sshd/scripts/tsh.alias
Labels: backport

#7864 (v7) Add MongoDB Atlas guide
  docs/config.json
  docs/img/database-access/guides/atlas/atlas-add-user@2x.png
  docs/img/database-access/guides/atlas/atlas-connect-btn@2x.png
  docs/img/database-access/guides/atlas/atlas-connect@2x.png
  docs/img/database-access/guides/atlas/atlas-self-managed-x509@2x.png
  docs/pages/database-access/guides.mdx
  docs/pages/database-access/guides/mongodb-atlas.mdx
  docs/pages/database-access/introduction.mdx
Labels: documentation, database-access, db/mongo

#7841 RFD 34: clarify windows host discovery
  rfd/0034-desktop-access-windows.md
Labels: rfd, desktop-access

#7914 Video Banner for AWS Console Access
  docs/pages/application-access/guides/aws-console.mdx
Labels: documentation

#7895 Add support for nowait on requests.
  tool/tsh/access_request.go
  tool/tsh/tsh.go
Labels: ux

#7096 Allow teleport-cluster-agent chart to use an existing volume for the data directory
  docs/pages/kubernetes-access/helm/reference.mdx
  examples/chart/teleport-kube-agent/templates/deployment.yaml
  examples/chart/teleport-kube-agent/values.schema.json
  examples/chart/teleport-kube-agent/values.yaml
Labels: helm

#7138 Add support for PDB with the teleport-cluster helm chart
  docs/pages/kubernetes-access/helm/reference.mdx
  examples/chart/teleport-cluster/.lint/pdb.yaml
  examples/chart/teleport-cluster/templates/pdb.yaml
  examples/chart/teleport-cluster/values.schema.json
  examples/chart/teleport-cluster/values.yaml
Labels: helm

#7168 Add abilty to configure postStart handler for teleport-cluster chart
  docs/pages/kubernetes-access/helm/reference.mdx
  examples/chart/teleport-cluster/templates/deployment.yaml
  examples/chart/teleport-cluster/values.schema.json
  examples/chart/teleport-cluster/values.yaml
Labels: helm

#7508 helm: Make auth type configurable
  docs/pages/kubernetes-access/helm/reference.mdx
  examples/chart/teleport-cluster/README.md
  examples/chart/teleport-cluster/templates/config.yaml
  examples/chart/teleport-cluster/values.schema.json
  examples/chart/teleport-cluster/values.yaml
Labels: helm

#6941 Add imagePullSecrets in kube-agent chart
  docs/pages/kubernetes-access/helm/reference.mdx
  examples/chart/teleport-kube-agent/.lint/imagepullsecrets.yaml
  examples/chart/teleport-kube-agent/templates/deployment.yaml
  examples/chart/teleport-kube-agent/values.schema.json
  examples/chart/teleport-kube-agent/values.yaml
Labels: helm

#7804 helm: Set correct fsGroup in teleport-kube-agent chart when using persistent storage
  examples/chart/teleport-cluster/templates/config.yaml
  examples/chart/teleport-kube-agent/templates/statefulset.yaml
Labels: helm

#8011 Removed 443 and 3080 from tsh login examples
  docs/pages/access-controls/guides/impersonation.mdx
  docs/pages/access-controls/guides/role-templates.mdx
  docs/pages/api/getting-started.mdx
  docs/pages/application-access/guides/api-access.mdx
  docs/pages/cloud/faq.mdx
  docs/pages/cloud/getting-started.mdx
  docs/pages/cloud/guides/u2f.mdx
  docs/pages/database-access/getting-started.mdx
  docs/pages/database-access/guides/mongodb-atlas.mdx
  docs/pages/database-access/guides/mongodb-self-hosted.mdx
  docs/pages/database-access/guides/mysql-aws.mdx
  docs/pages/database-access/guides/mysql-cloudsql.mdx
  docs/pages/database-access/guides/mysql-self-hosted.mdx
  docs/pages/database-access/guides/postgres-aws.mdx
  docs/pages/database-access/guides/postgres-cloudsql.mdx
  docs/pages/database-access/guides/postgres-redshift.mdx
  docs/pages/database-access/guides/postgres-self-hosted.mdx
  docs/pages/getting-started/linux-server.mdx
  docs/pages/includes/tctl.mdx
  docs/pages/kubernetes-access/getting-started/cluster.mdx
  docs/pages/server-access/getting-started.mdx
  docs/pages/setup/deployments/aws-terraform.mdx
  docs/pages/setup/guides/docker.mdx
Labels: documentation, backport-required

#8016 [backport master] Removed 443/3080 port from tsh login examples
  docs/pages/access-controls/guides/dual-authz.mdx
  docs/pages/access-controls/guides/impersonation.mdx
  docs/pages/access-controls/guides/role-templates.mdx
  docs/pages/api/getting-started.mdx
  docs/pages/application-access/guides/api-access.mdx
  docs/pages/application-access/guides/jwt.mdx
  docs/pages/cloud/faq.mdx
  docs/pages/cloud/getting-started.mdx
  docs/pages/cloud/guides/u2f.mdx
  docs/pages/database-access/getting-started.mdx
  docs/pages/database-access/guides/mongodb-atlas.mdx
  docs/pages/database-access/guides/mongodb-self-hosted.mdx
  docs/pages/database-access/guides/mysql-aws.mdx
  docs/pages/database-access/guides/mysql-cloudsql.mdx
  docs/pages/database-access/guides/mysql-self-hosted.mdx
  docs/pages/database-access/guides/postgres-aws.mdx
  docs/pages/database-access/guides/postgres-cloudsql.mdx
  docs/pages/database-access/guides/postgres-redshift.mdx
  docs/pages/database-access/guides/postgres-self-hosted.mdx
  docs/pages/getting-started/linux-server.mdx
  docs/pages/includes/tctl.mdx
  docs/pages/kubernetes-access/getting-started/cluster.mdx
  docs/pages/server-access/getting-started.mdx
  docs/pages/setup/deployments/aws-terraform.mdx
  docs/pages/setup/guides/docker.mdx
Labels: documentation, backport

#7824 RDP client implementation
  lib/srv/desktop/deskproto/proto.go
  lib/srv/desktop/deskproto/proto_test.go
  lib/srv/desktop/rdp/rdpclient/.gitignore
  lib/srv/desktop/rdp/rdpclient/Cargo.lock
  lib/srv/desktop/rdp/rdpclient/Cargo.toml
  lib/srv/desktop/rdp/rdpclient/client.go
  lib/srv/desktop/rdp/rdpclient/librdprs.h
  lib/srv/desktop/rdp/rdpclient/run.sh
  lib/srv/desktop/rdp/rdpclient/src/lib.rs
  lib/srv/desktop/rdp/rdpclient/testclient/README.md
  lib/srv/desktop/rdp/rdpclient/testclient/index.html
  lib/srv/desktop/rdp/rdpclient/testclient/index.js
  lib/srv/desktop/rdp/rdpclient/testclient/main.go
  rfd/0037-desktop-access-protocol.md
Labels: desktop-access

#7840 Add support for a profile specific kubeconfig file.
  api/utils/keypaths/keypaths.go
  api/utils/keypaths/keypaths_test.go
  lib/client/api.go
  lib/client/keystore.go
  lib/kube/kubeconfig/kubeconfig.go
  tool/tsh/kube.go
  tool/tsh/tsh.go
Labels: ux

#7954 adding environment variables
  docs/pages/setup/reference/cli.mdx
Labels: documentation

#8056 [auto] Update AMI IDs for 7.1.0
  assets/aws/Makefile
  examples/aws/cloudformation/ent.yaml
  examples/aws/cloudformation/oss.yaml
  examples/aws/terraform/AMIS.md
  examples/aws/terraform/ha-autoscale-cluster/README.md
  examples/aws/terraform/starter-cluster/README.md
Labels: terraform, automated

#7867 Add kube-cluster env for tsh
  tool/tsh/tsh.go
  tool/tsh/tsh_test.go
Labels: ux
